header {
  background-color: #9ac5e1;
  font-size: 2rem;
  display: flex;
  font-family: fantasy;
  width: 100%;
}

li {
  display: inline;
  padding-left: 1rem;
}

li a {
  text-decoration: none;
  color: #171518;
  text-shadow: 2px 2px 8px #cde8c7;
}

li a:hover {
  color: yellow;
}
